body {
  padding-right: 0 !important;

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  // hide input type number's buttons
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }

  .app {
    > h1 {
      display: none;
    }

    &.loader {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #3389EE;
      color: #ECF2FE;
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 0.5s;

      > h1 {
        display: block;
        font-size: 3.2rem;
        color: #ECF2FE;
        font-family: "Lato-Bold";
        margin-top: -2.5rem;
      }

      > * {
        display: none;
      }
    }
  }

  .modal {
    color: #333;

    .modal-header {
      color: $dark-blue;
  
      .close {
        font-size: 2rem;
      }
    }

    .modal-title {
      font-size: 1.5rem;
    }

    .modal-dialog {
      max-width: 440px;
    }

    .modal-footer {
      flex-wrap: nowrap;
    }
  }

  .btn:focus,
  .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

  h1, h2, h3, h4, p {
    margin: 0;
  }

  .form-control:focus {
    box-shadow: none;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  button,
  input {
    overflow: visible;
  }

  button,
  select {
    text-transform: none;
    border: none;
    outline: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
}