@mixin page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
  max-width: $app-width;
  margin: $header-hight auto 1rem;
}

@mixin header {
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $app-width;
  padding: 0 1.5rem;
  height: $header-hight;
  box-sizing: border-box;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100rem;
    right: -100rem;
    border-top: 1px solid #ccc;
    z-index: 1;
  }

  .user {
    width: 80px;
    height: 60px;
    padding: 0.5rem 0;
    font-size: 24px;
    color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
  }

  .goBack {
    background: none;
    font-size: 26px;
    color: #333;
    padding: 1rem;
    margin-left: -0.5rem;
    margin-right: 1rem;
    min-width: 56px;
  }
}

@mixin footer {
  position: fixed;
  bottom: 0;
  z-index: 99999;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $app-width;
  padding: 0 1.5rem;
  height: $header-hight;
  box-sizing: border-box;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100rem;
    right: -100rem;
    border-top: 1px solid #ccc;
    z-index: 1;
  }
}

@mixin login-btn {
  width: 80px;
  height: 2.4rem;
  font-size: 18px;
  color: #222;
  font-family: 'Lato-Bold';
  min-width: 80px;
  letter-spacing: 0.3px;
}

@mixin search-bar {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    background-color: $main-blue;
    color: white;
    width: 3rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    &:hover {
      background-color: #0067dc;
    }
  }
}

/**
* Layout
*/

@mixin gaps-list {
    @for $i from 0 through 5 {
        .gap-#{$i} {
            gap: #{$i}rem;
        }
        .gap-#{$i}h { // half
            gap: #{$i + 0.5}rem;
        }
        .gap-#{$i}q { // quarter
            gap: #{$i + 0.25}rem;
        }
    }
}
@mixin flexes-list {
    @for $i from 1 through 5 {
        .flex-#{$i} {
            flex: $i;
        }
    }
}


/**
* Text
*/

@mixin text-color-list($colors) {
    @each $name, $color in $colors {
        .text-#{$name} {
            color: $color;
        }
    }
}
@mixin font-sizes-list {
    @for $i from 1 through 5 {
        .font-#{$i} {
            font-size: #{$i}rem;
        }
        .font-#{$i}h {
            font-size: #{$i + 0.5}rem;
        }
    }
}


/**
* Positioning
*/

@mixin positions-list {
    $positions: (
        "top",
        "bottom",
        "left",
        "right"
    );

    @each $position in $positions {
        @for $i from 0 through 5 {
            .#{$position}-#{$i} {
                #{$position}: #{$i}rem;
            }
            .#{$position}-#{$i}h {
                #{$position}: #{$i + 0.5}rem;
            }
            .#{$position}-#{$i}q {
                #{$position}: #{$i + 0.25}rem;
            }
        }
    }
}
@mixin z-indexes-list {
    @for $i from -1 through 5 {
        @if $i < 0 {
            .z-#{($i * -1)}n {
                z-index: $i;
            }
        } @else {
            .z-#{$i} {
                z-index: $i;
            }
        }
    }
}


/**
* Dimensions
*/
@mixin dimensions-list {
    $dimensions: (
        "max-w": max-width,
        "max-h": max-height,
        "min-w": min-width,
        "min-h": min-height,
        "w": width,
        "h": height,
    );

    @each $key, $property in $dimensions {
        @for $i from 1 through 20 {
            .#{$key}-#{$i} {
                #{$property}: #{$i}rem;
            }
            .#{$key}-#{$i}h {
                #{$property}: #{$i + 0.5}rem;
            }
        }
    }
}


/**
* Image
*/
@mixin object-fit-list {
    $vals: (
        "fill",
        "contain",
        "cover",
        "none",
        "scale-down"
    );

    @each $val in $vals {
        .object-fit-#{$val} {
            object-fit: #{$val};
        }
    }
}
@mixin object-position-list {
    $posX: (
        "left",
        "center",
        "right",
    );
    $posY: (
        "top",
        "center",
        "bottom",
    );

    @each $x in $posX {
        @each $y in $posY {
            .object-position-#{$x}-#{$y} {
                object-position: #{$x} #{$y};
            }
        }
    }
}


/**
* Resets
*/

@mixin reset-btn {
    border: none;
    padding: 0;
    cursor: pointer;
}

@mixin reset-list {
    padding: 0;
    list-style: none;
}