body {
  padding-right: 0 !important;

  // hide input type number's buttons
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }

  .modal {
    color: #333;

    .modal-header {
      color: $dark-blue;
  
      .close {
        font-size: 2rem;
      }
    }

    .modal-title {
      font-size: 1.5rem;
    }

    .modal-dialog {
      max-width: 440px;
    }

    .modal-footer {
      flex-wrap: nowrap;
    }
  }

  .btn:focus,
  .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

  h1, h2, h3, h4, p {
    margin: 0;
  }

  .form-control:focus {
    box-shadow: none;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  button,
  input {
    overflow: visible;
  }

  button,
  select {
    text-transform: none;
    border: none;
    outline: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
}