$main-blue: #3389EE;
$dark-blue: #0a177f;
$main-yellow: #F6BE37;
$small-width: 380px;
$tablet-width: 768px;

$theme-colors: (
  "primary": $main-blue,
  "secondary": $main-yellow,
);
$colors: (
    "pink": #ceada9,
    "blue": #7dbbd4,
    "maroon": #b55f6d,
    "green": #b6ca98,
    "green-dark": #25969d,
    "orange": #ff8d3d,
    "gray": #90a1ac,
);