.book-modal {
  h2 {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
    color: #333;
    font-family: 'Lato-Bold';
  }

  .date {
    font-size: 1.3rem;
    letter-spacing: 0.3px;
    font-family: 'Lato-Bold';

    button {
      margin-left: 1rem;
      font-size: 1.1rem;
      letter-spacing: 0.6px;
    }
  }

  .book-form {
    margin-top: 1.2rem;

    .form-group {
      display: flex;
      align-items: baseline;

      .form-control {
        color: #333;
      }

      > div {
        width: 100%;
      }

      label {
        flex-shrink: 0;
        width: 68px;
        font-size: 1.2rem;
        margin: 0 1rem 0 0;
        font-family: 'Lato-Bold';
      }
    }
  }
}

.booked-modal {
  h2 {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
    color: #333;
    font-family: 'Lato-Bold';
  }

  p {
    font-size: 1.1rem;
  }

  .book-row {
    display: flex;
    margin: 1rem 0;
    font-size: 1.2rem;
    align-items: baseline;
    font-family: 'Lato-Bold';

    span {
      margin-left: 0.5rem;
      color: $dark-blue;
    }
  }
}

.book-footer {
  .price {
    font-size: 1.3rem;
    font-family: 'Lato-Bold';
    letter-spacing: 0.4px;
    margin-right: 0.5rem;
  }

  button {
    @include modal-footer-btn;
  }
}