.card {
  margin: 0.8rem 0;
  cursor: pointer;

  .image {
    position: relative;
    max-height: 220px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  hr {
    margin: 0.8rem 0;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Lato-Bold';
    letter-spacing: 0.6px;
    color: #333;
  }

  .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0.5rem 0;
    color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}