.date-modal {
  h2 {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
    font-family: 'Lato-Bold';
  }

  .dates-header {
    h2 {
      display: none;
    }
  }

  .footer {
    .date {
      font-size: 1.3rem;
      margin-right: 1rem;
      font-family: 'Lato-Bold';
    }

    button {
      @include modal-footer-btn;
    }
  }
}