.date-modal {
  .dates-header {
    h2 {
      display: none;
    }
  }

  .dates-footer {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    padding: 0 0.25rem;
  
    .date {
      margin-right: 1;
      flex-shrink: 0;
      font-family: 'Lato-Bold';
    }

    button {
      width: 100%;
      font-size: 1.1rem;
      max-width: 180px;
      margin-left: auto;
    }
  }
}