.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0.5rem 0;
  position: relative;
  max-width: 520px;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100rem;
    right: -100rem;
    height: 0.5em;
    border-top: 1px solid #ddd;
    z-index: 1;
  }

  h1 {
    font-size: 26px;
    font-weight: bold;
    color: $dark-blue;
    margin: 0 auto;
  }

  .lang {
    height: 40px;
    width: 80px;
    padding: 0.6rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    img {
      width: auto;
      height: 100%;
      border-radius: 4px;
      box-shadow: 0 0 1px 2px rgba(0,0,0,0.2);
    }
  }

  .login {
    width: 80px;
    height: 2.2rem;
    font-size: 18px;
    color: #222;
    font-family: 'Lato-Bold';
  }

  .user {
    width: 80px;
    height: 60px;
    padding: 0.5rem 0;
    font-size: 24px;
    color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
  }
}