.bookings-page {
  @include page;

  .header {
    @include header;

    h1 {
      cursor: pointer;
    }
  }

  .cards {
    margin-top: -0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    > li {
      width: 100%;
    }

    .card-body {
      padding-bottom: 1rem;

      h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        color: #333;
        font-family: 'Lato-Bold';
      }
    }

    .partner,
    .location {
      font-size: 1.1rem;
      margin-bottom: 0.8rem;
    }

    .location {
      margin-bottom: 0;
    }

    .book-row {
      display: flex;
      margin-bottom: 0.8rem;
      font-size: 1.1rem;
      align-items: baseline;
      font-family: 'Lato-Bold';

      span {
        margin-left: 0.5rem;
        color: $dark-blue;
      }
    }

    .footer {
      margin-top: 0.2rem;

      .price {
        font-size: 1.3rem;
        font-family: 'Lato-Bold';
        letter-spacing: 0.4px;
        margin-right: 0.5rem;
      }

      button {
        @include modal-footer-btn;
      }
    }
  }
}