.book-page {
  @include page;

  .header {
    @include header;

    .search-bar {
      @include search-bar;
    }

    .login-btn {
      @include login-btn;
      margin-left: 1.5rem;
    }
  }

  .info {
    width: 100%;
    padding: 0 0.3rem;

    h1 {
      font-family: 'Lato-Bold';
      font-size: 2.4rem;
      margin: 1rem 0;
    }

    .partner {
      margin-bottom: 0.5rem;
    }
  }

  .image {
    position: relative;
    max-height: 260px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .price {
    position: absolute;
    left: 0;
    bottom: 0;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
    border-top-right-radius: 0.5rem;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-family: 'Lato-Bold';
    letter-spacing: 0.7px;
  }

  h2 {
    font-size: 1.8rem;
  }

  .dates {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0.3rem;
    
    li {
      border-radius: 0.5rem;
      width: 100%;
      margin: 0.5rem 0 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .date {
      font-family: 'Lato-Bold';
      font-size: 1.2rem;
      letter-spacing: 0.2px;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      color: #444;
      
      i {
        margin: 0 0.4rem 0 0.2rem;
        font-size: 1.1rem;
      }
    }

    .time {
      display: flex;
      flex-wrap: wrap;
      margin: -0.4rem 0;

      li {
        background-color: rgba(125, 125, 125, 0.14);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        margin: 0.4rem;
        width: auto;
      }
    }

    .show-more-btn {
      background: none;
      width: auto;
      color: #555;
      margin: 0 auto;
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      margin-top: 0.5rem;

      i {
        margin-left: 0.5rem;
        color: #666;
        margin-bottom: -2px;
      }
    }
  }

  .dates-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5rem 1.5rem 1rem;

    .datepicker {
      width: auto;
      border-color: $dark-blue;
      margin-left: 2rem;

      > button,
      > label {
        color: $dark-blue;
      }
    }
  }
}