.book-page {
  @include page;

  &.selected {
    padding-bottom: $header-hight;
  }

  @mixin selected {
    border-color: $dark-blue;
    box-shadow: 0 0 0.4rem rgba(10,23,127,.5);
    background: white;
    color: $dark-blue;
    font-family: 'Lato-Bold';
  }

  @mixin hover {
    border-color: $dark-blue;
    color: $dark-blue;
    background: white;
  }

  .header {
    @include header;

    .search-bar {
      @include search-bar;
    }

    .login-btn {
      @include login-btn;
      margin-left: 1.5rem;
    }
  }

  .footer {
    @include footer;

    .date {
      margin-right: 1.5rem;
      font-size: 1.3rem;
      flex-shrink: 0;
      font-family: 'Lato-Bold';
    }

    button {
      height: 2.6rem;
      max-width: 200px;
      width: 100%;
      font-size: 1.3rem;
      font-family: 'Lato-Bold';
      letter-spacing: 0.7px;
    }
  }

  .info {
    width: 100%;
    padding: 0 0.3rem;
    font-size: 1.1rem;

    h1 {
      font-family: 'Lato-Bold';
      font-size: 2.2rem;
      margin: 1rem 0;
    }

    .partner {
      margin-bottom: 0.5rem;
    }
  }

  .image {
    position: relative;
    max-height: 260px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 0.5rem;

    img {
      width: 100%;
    }
  }

  .price {
    position: absolute;
    left: 0;
    bottom: 0;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
    border-top-right-radius: 0.5rem;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-family: 'Lato-Bold';
    letter-spacing: 0.7px;
  }

  h2 {
    font-size: 1.8rem;
  }

  .dates {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0.3rem;
    
    > ul > li {
      border-radius: 0.5rem;
      width: 100%;
      margin: 0.5rem 0 1rem;

      &.clickable {
        padding: 0.5rem;
        border: 1px solid #bbb;
        cursor: pointer;
        background-color: rgb(250, 250, 250);

        &:hover {
          @include hover;
        }

        &.selected {
          @include selected;
          

          & .date {
            color: $dark-blue;
          }
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .date {
      font-family: 'Lato-Bold';
      font-size: 1.2rem;
      letter-spacing: 0.2px;
      margin-bottom: 0.6rem;
      display: flex;
      align-items: center;
      color: #444;
      
      i {
        margin: 0 0.4rem 0 0.2rem;
        font-size: 1.1rem;
      }
    }

    .time {
      display: flex;
      flex-wrap: wrap;
      margin: -0.4rem 0;

      li {
        border: 1px solid #bbb;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        margin: 0.4rem;
        width: auto;
        cursor: pointer;
        background-color: rgb(250, 250, 250);

        &:hover {
          @include hover;
        }

        &.selected {
          @include selected;
        }
      }
    }

    .show-more-btn {
      background: none;
      width: auto;
      color: #555;
      margin: 0 auto;
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      margin-top: 1rem;

      i {
        margin-left: 0.5rem;
        color: #666;
        margin-bottom: -2px;
      }
    }
  }

  .dates-header {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    h2 {
      margin: 1rem 1.5rem 0 0;
    }

    .datepicker {
      width: auto;
      border-color: #444;
      margin-top: 1rem;
    }
  }

  .no-result {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-top: 0.5rem;

    button {
      margin-top: 0.8rem;
      height: 2.6rem;
    }
  }
}