.home-page {
  @include page;

  .header {
    @include header;
  }

  h2 {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 25px;
    margin-top: 1rem;
  }

  .search-bar {
    @include search-bar;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    > li {
      width: 100%;
    }
  }
}