.partner-page {
  @include page;

  .header {
    @include header;

    h1 {
      cursor: pointer;
    }
  }

  .reviews-list {
    padding-bottom: $header-hight;

    h2 {
      margin-bottom: 1rem;
    }
  }

  .cards {
    padding: 0 0.3rem;

    h2 {
      margin-bottom: 1rem;
    }
  }
}