.service-page {
  @include page;

  &.selected {
    padding-bottom: $header-hight;
  }

  .header {
    @include header;

    .login-btn {
      margin-left: 1rem;
    }
  }

  .footer {
    @include footer;
  }

  .partner {
    margin-top: 0.7rem;
  }

  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    letter-spacing: 0.4px;
  }
}