.signup-page {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $main-blue;

  header {
    padding: 2.2rem 1.5rem 1.5rem;
    color: white;
    max-width: $app-width;

    h1 {
      font-size: 40px;
      color: #ECF2FE;
      font-family: "Lato-Bold";
      margin-bottom: 0.5rem;
    }
  }

  form {
    width: 100%;
    padding: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: white;
    height: 100%;
    max-width: $app-width;

    .form-group {
      margin-bottom: 1rem;

      input + input {
        margin-top: 1rem;
      }
    }

    label {
      padding: 0;
    }

    button {
      margin-top: 1rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .signin {
    margin-top: 1rem;
    text-align: center;
  }

  @media screen and (min-width: $small-width) {
    header {
      padding: 3.5rem 2.5rem 3rem;

      h1 {
        font-size: 50px;
        margin-bottom: 1rem;
      }

      p {
        font-size: 18px;
      }
    }

    form {
      padding: 2.5rem;
      
      .form-group {
        margin-bottom: 1.5rem;

      }

      button {
        margin-top: 1.5rem;
      }
    }
    
    .signin {
      margin-top: 1.5rem;
    }
  }

  @media screen and (min-width: $tablet-width) {
    header {
      padding-top: 6rem;
      
      h1 {
        font-size: 50px;
      }
    }
  }
}